<html>
<b> MUKILAN.S </b>
<p><b> Mobile :</b> 7339412675 </p>
<b>Email:</b><label for="email">smugilan02062001@gmail.com:</label>
<hr>
<h3><u> CAREER OBJECTIVE: </u></h3>
<p>  To work in an organization which provide me an opportunity and encourage me to succeed and grow professionally where I can utilize my skills and knowledge appropriately.</p>
<h3><u> ACEDEMIC QUALIFICATION:</u></h3>
<table border=1>
<tr>
 <th>QUALIFICATION</th>
 <th>BOARD/UNIVERSITY<th>
 <th>NAME OF THE INSTITUTION</th>
 <th>YEAR OF PASSING</th>
 <th>CGPA</th>
</tr>
<tr>
 <td>B.Sc Bio.Technology</td>
 <td>PERIYAR UNIVERSITY<td>
 <td>K.S.R College of Arts and Science</td>
 <td>2021</td>
 <td>6.1</td>
</tr>
<tr>
 <td>H.S.C</td>
 <td>STATE BOARD<td>
 <td>Jawahar Matric Hr.Sec School</td>
 <td>2018</td>
 <td>6.3</td>
</td>
<tr>
 <td>S.S.L.C</td>
 <td>STATE BOARD<td>
 <td>Jawahar Matric Hr.Sec School</td>
 <td>2016</td>
 <td>8.1</td>
</tr>
</table>
</hr>
<b><u>PERSONAL SKILLS:</u></b>
<ul>
<li>Positive Things</li>
<li>Quick Learner</li>
<li>Optimistic</li>
</ul>
<b><u>TECHNICAL SKILLS</b></u>
<ul>
<li>JAVA</li>
<li>JAVASCRIPT</li>
<li>HTML</li>
<li>SQL</li>
<b><u>EXTRA CARICULAR ACTIVITIES:</b></u>
<ul>
<li>Participate in carrom competition in inter school </li>
<li>participate in basketball inter college </li>
</ul>
<u><b>HOBBIES</u></b>
<p>Watching Movie,playing games.</p>
<u><b>PERSONAL INFORMATION</u></b>
<p>Father name      :   K. Subramaniyan</p>
<p>Mother name      :   S. Chandraleka</p>
<p>DOB              :   02/06/2001</p>
<p>Gender           :   Male</p>
<p>Nationality      :   Indian</p>
<p>Marital Status   :   Single</p>
